.login-form{
    min-height: 50%;
    min-width: 30%;
    border: 1px solid white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    &__input-group{
        display: flex;
        flex-flow: column nowrap;
    }
}