@import '../../../../assets/styles/colors';
@media (min-width: 769px) {
    .home {
        &__content {
            margin-top: 40px;
            display: flex;
            flex-flow: row nowrap;
            .stories {
                width: 50%;
            }
            .ads {
                width: 50%;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: $bg-second;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
