.wrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(6, 20, 46, 0.5);
    width: 100vw;
    height: 100vh;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100% - 5rem);
}
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }