.topbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
    &__title{
        flex: 5;
    }
    &__user-area{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        .btn{
            background-color: #f3f6f7;
            margin-left: 32px;
            transition: background-color .2s ease-in-out;
            &:hover{
                background-color: #d5fff3;
            }
        }
    }
}
.container{
    padding: 0 !important;
}
.content{
    margin-top: 60px;
    border: 1px solid red;
    width: 100%;
    height: calc( 100vh - 60px );
}
.sidebar{
    nav{
        height: 80%;
    }
    .menu{
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        &__item{
            text-decoration: none;
            color: #f3f6f7;
            .btn{
                width: 170px;
            }
        }
    }
    background-color: #1976d2;
    padding: 32px 16px;
    width: 100%;
}