@import '../../assets/styles/colors';

.admin-panel{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas: 
    "header header"
    "nav content";
    color: $font-primary;
    &__header{
        grid-area: header;
    }
    &__menu{
        grid-area: nav;
    }
    &__content{
        grid-area: content;
    }
}