@import '../../../../assets/styles/colors';

.stories{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    &__title{
        margin-top: 10px;
        font-size: 1.5rem;
        text-align: center;
        text-transform: lowercase;
        color: $font-headers;
    }
    &__tags{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        .tag{
            text-align: center;
            font-size: .80rem;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
                height: 2px;
            }
            &:first-of-type{
                color: $hefalumpy;
                &::after{
                    background-color: $hefalumpy;
                }
            }
            &:nth-of-type(2){
                color: $pegaz;
                &::after{
                    background-color: $pegaz;
                }
            }
            &:nth-of-type(3){
                color: $ekisana;
                &::after{
                    background-color: $ekisana;
                }
            }
        }
    }
    &__list{
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
        .card{
            width: 90%;
            background-color: $bg-primary;
            color: $font-primary;
            border: 1px solid $font-headers;
            box-shadow: 0 0 8px $font-headers;
            display: grid;
            grid-template-columns: 2fr 4fr;
            grid-template-rows: 1fr 3fr 1fr;
            grid-template-areas: 
            "title title"
            "icon desc"
            "tag btn";
            justify-items: center;
            align-items: center;
            &__title{
                grid-area: title;
                color: $font-headers;
                text-align: center;
                margin-top: 5px;
            }
            &__desc{
                text-align: justify;
                font-size: .8rem;
                padding: 10px;
                font-weight: 300;
            }
            &__tag{
                font-size: .7rem;
                &--hs{
                    color: $pegaz;
                }
                &--h{
                    color: $ekisana;
                }
                &--z{
                    color: $hefalumpy;
                }
            }
            &__btn{
                justify-self:flex-end;
                margin-right: 10px;
                background-color: transparent;
                border: 1px solid $font-headers;
                color: $font-headers;
                padding: 6px;
                margin-bottom: 4px;
                box-shadow: 0 0 2px $font-headers;
                font-size: .72rem;
            }
        }
    }
    
}