@import '../../../../assets/styles/colors';

.users-table{
    width: 80%;
    background-color: $bg-second;
    padding: 20px;
    color: $bg-primary;
    text-align: left;
    &__head {
        tr{
            background-color: lighten($bg-primary, $amount: 15);
            color: $font-headers; 
            font-style: italic;
            th:first-of-type(){
                padding-left: 10px;
            }       
            *{
                padding: 10px 0;
            }
        }
    }
    &__body{
        button {
            margin-right: 10px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }    
}