.update-user-form{
    width: 80%;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
        opacity: 1;
        -webkit-text-fill-color: rgb(0, 0, 0);
    }
}