@import '../../../../assets/styles/colors';

.leader{
    margin: 20px 10px;
    padding-top: 8px;
    width: 250px;
    height: 100px;
    background-color: rgba($bg-primary, .9);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $font-headers;
    box-shadow: 0 0 8px $font-headers;
    overflow: hidden;
    &__image{
        width: 50px;
        height: auto;
        object-position: center;
        object-fit: cover;
    }
    &__info{        
        width: 150px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        *{
            width: 100%;
            text-align: left;
        }
        .name{
            font-weight: 600;
            font-size: .9rem;
            color: $font-headers;
        }
        .role{
            font-weight: 400;
            font-size: .9rem;
            color: $font-menu;
            font-style: italic;
            margin-bottom: 10px;
        }
        .contact-datapiece{
            font-weight: 300;
            font-size: 0.7rem;
            color: $font-primary;
            text-align: left;
        }
    }
    
}
@media (min-width: 769px){
    .leader{
        margin: 20px 10px;
        padding-top: 16px;
        width: 400px;
        height: 200px;
        &__image{
            width: 100px;
            margin-right: 20px;
            margin-left: 20px;
        }
        &__info{        
            width: 300px;
            height: auto;
            .name{
                font-size: 1.3rem;
                color: $font-headers;
            }
            .role{
                font-weight: 400;
                font-size: 1.1rem;
                margin-bottom: 20px;
                margin-top: 10px;
            }
            .contact-datapiece{
                font-size: 1rem;
            }
        }        
    }
}
@media (min-width: 1025px){
    .leader{
        &__info{        
            .contact-datapiece{
                font-size: 1rem;
                margin: 10px 0;
            }
        }        
    }
}